<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <input type="text" name="myName" id="chat">
        <input type="submit" >
        <ul id="messages"></ul>
    </form>
    <script src=""></script>
    <script>
        const socket = io();
        let form = document.querySelector('form');
        form.addEventListener('submot', (e) => {
            e.preventDefault();
            let chat = document.querySelector('#chat');
            socket.emit('msgFromClient', chat.value);
            
            
        })

    </script>
</body>
</html>